<nav class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
    <label class="menu-open-button" for="menu-open">
     <span class="lines line-1"></span>
     <span class="lines line-2"></span>
   </label>
    <button (click)="addTextPost()" class="menu-item blue"><div class="addPost"><img class="imageAdd textImage"></div></button>
    <button class="menu-item green"><div class="addPost"><img class="imageAdd drawImage"></div></button>
    <button class="menu-item red"><div class="addPost"><img class="imageAdd calendarImage"></div></button>
    <button class="menu-item purple"><div class="addPost"><img class="imageAdd birthdayImage"></div></button>
    <button class="menu-item orange"><div class="addPost"><img class="imageAdd checkboxImage"></div></button>
    <button class="menu-item lightblue"><div class="addPost"><img class="imageAdd imageImage"></div></button>
 </nav>