<div class="backgroundWorkSpace">
    <ng-container *ngFor="let text of countText">
        <app-text-Post></app-text-Post>
    </ng-container>
    <ng-container *ngFor="let draw of countDraw">
        <app-draw-post></app-draw-post>
    </ng-container>
    <ng-container *ngFor="let calendar of countCalendar">
        <app-calendar-post></app-calendar-post>
    </ng-container>
    <ng-container *ngFor="let countBirthday of countBirthday">
        <app-birthday-post></app-birthday-post>
    </ng-container>
    <ng-container *ngFor="let checkbox of countCheckbox">
        <app-check-box-post></app-check-box-post>
    </ng-container>
    <ng-container *ngFor="let image of countImage">
        <app-image-post></app-image-post>
    </ng-container>
</div>



